.description-main-content{
    height: 90vh;
    border-radius: 20px;
    border: 1px solid #C9C9C9;
    background: #FFFFFF;
    /* height: max-content; */
}
.job-description-main-container{
        max-height: 90vh;
        width: 50%;
        position: fixed;
        
}
.scrollable-description{
    overflow-y: scroll;
    max-height: 80vh;
}
.description-header, .jobs-card-header{
    display: flex;
    align-items: center;
}
.header-job-title{
    margin: 0;
    display: flex;
    flex-direction: column;
    margin-right: auto;
    align-self: center;
}
.header-job-title h1{
    margin-bottom: 3%;
    font-weight: 500;
    margin-top: 0;
}
.header-job-title p{
    margin: 0;
    font-size: 1.6rem;
}
.share-save{
    font-size: 2.5rem;
    display: flex;
    gap: 2rem;
    margin-right: 3%;
}
.horizontal-line{
    border: .5px solid gainsboro;
}

.content-cards{
    display: flex;
    margin-top: 5%;
    justify-content: space-between;
    width: 95%;
    margin: 4% auto;
}

.content-card{
    padding: 1.2rem 5rem;
    text-align: center;
    border-radius: 7px;
}
.content-card p{
    margin: 0;
}
p.dynamic{
    margin-top: 15px;
    font-size: 1.3rem;
    font-weight: 500;
    width: 100%;
}

.content-card.cardone{
    background-color: rgba(255, 204, 51, 0.15);
}
.content-card.cardtwo{
    background: rgba(202, 97, 195, 0.15);
}
.content-card.cardthree{
    background: rgba(0, 0, 0, 0.15);
}

.description-description{
    width: 95%;
    margin: 0 auto;
}
.description-description h1{
    font-weight: 500;
}

.description-description p{
    font-size: 1.3rem;
    line-height: 2rem;
}

.description-button{
    height: 10vh;
    display: flex;
    width: 100%;
    align-items: center;
    
    justify-content: center;
}
.description-button button{
    font-size: 1.5rem;
    padding: .7rem 2.7rem;
    border-radius: 30px;
    border: none;
    color: white;
    background-color: #CA61C3;
    font-weight: 500;
}

.jobs-card-content{
    /* border: 2px solid #CA61C3; */
    width: 70%;
    margin: 0 auto;
    background: white;
    border-radius: 10px;
    padding: 2rem;
}

.card-logo img{
    width: 100px;
}
.header-job-title{
    margin-left: .2rem;
}
.header-job-title h1{
    font-size: 1.5rem;
}
.header-job-title p{
    font-size:1rem;
}
.share-save{
    font-size: 1.9rem;
}
.jobs-card-description, .jobs-card-footer, .jobs-card-cards{
    width: 96%;
    margin: 0 auto;
}
.jobs-card-cards{
    display: flex;
    justify-content: space-between;
    width: 70%;
    color: #CA61C3;
    margin-top: 5%;
    margin-bottom: 6%;

}
.jobs-card-cards .job-card{
    font-size: 1rem;
    background: rgba(202, 97, 195, 0.186);
    border-radius: 10px; 
    padding: 0 1rem;   
}
.jobs-card-footer{
    text-align: center;
}
.jobs-card-footer span{
    font-weight: bold;
}

.jobs-card-container{
    margin-bottom: 5%;
}
.specific-filter-content{
    background: black;
    height: 10vh;
}

.specific-job-search input.title-place{
    width: 25%;
}

.specific-filter-content{
    display: flex;
    align-items: center;
   
}
.specific-job-search{
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.specific-job-search input{
    font-size: 1rem;
    padding: 1rem;
    border-radius: 3rem;
    color: black;
    border: none;
}

.specific-job-search ::placeholder{
    width: 100%;
    color: black;
    opacity: 0.8;
}
.specific-job-search button{
    background-color: #FFCC33;
    border: none;
    padding: 1rem 4rem;
    border-radius: 3rem;
    font-weight: 800;
    font-size: 1.2rem;
    cursor: pointer;
}

button.filter-button{
    padding: 1rem;
    background: white;
    
}