.login-main-container{
    height: 100vh;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.left-container{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.right-container{
    width: 50%;
    display: flex;
    padding: 4rem;
    max-height: 60vh;
    flex-shrink: 2;
}

.right-container-content h1{
    font-size: 3rem;
}

.right-container-content{
    width: 100%;
}

.horizontal-section{
    /* display: flex; */
    width: 90%;
}

.hr-lines:before{
    content:" ";
    display: block;
    height: 2px;
    width: 280px;
    position: absolute;
    top: 50%;
    left: 0;
    background: #C6C6C6;
    opacity: 0.5;
  }
  .hr-lines{
    position: relative;
    max-width: 100%;
    text-align: center;
  }
  .hr-lines:after{
    content:" ";
    height: 2px;
    width: 280px;
    background: #C6C6C6;
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    opacity: 0.5;
  }

  .left-text{
    position: absolute;
    z-index: 1;
    top: 80%;
    color: white;
    font-weight: 500;
    font-size: 1.3rem;
    width: 30%;
    text-align: center;
  }