.vertLine{
    border-left: 1px solid black;
    height: 30px;
}

.comp p{
    margin-bottom: 0;
    margin-top: 1px;
    margin-left: 0;
    color: black;
    font-weight: 400;
    font-size: 16px;
}

.comp{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Menu{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
}

.Menu li{
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 5px;
    padding-bottom: 0;
}

@media screen and (max-width: 850px) {
    .Menu li{
        padding-left: 10px;
        padding-right: 10px;
        font-size: 14px;
    }

    .comp p{
        font-size: 14px;
    }

    .empLogo{
        width: 130px;
    }

    .forEmp{
        font-size: 14px;
    } 
}

@media screen and (max-width: 600px) {
    .Menu li{
        padding-left: 8px;
        padding-right: 8px;
        font-size: 12px;
    }

    .comp p{
        font-size: 10px;
    }

    .empLogo{
        width: 95px;
    }

    .forEmp{
        font-size: 10px;
    }
}