* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
   
}




.forgotpassword-main img{
    width: 100%;
    height: 25%;
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 0;
    z-index: -1;
}
.form-container{
    display: flex;
    width: 550px;
    height: 500px;
    justify-content: center;
    align-items: center;
   
    background: #F3F3F3;
    box-shadow: 203px 169px 106px rgba(0, 0, 0, 0.01), 114px 95px 89px rgba(0, 0, 0, 0.05), 51px 42px 66px rgba(0, 0, 0, 0.09), 13px 11px 36px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 7px;
    margin: 0 auto;
    margin-top: 8%;
   
}
.back-link{
    font-size: 12px;
    margin-bottom:40%;
    padding-right: 10%;
    color: #5e5f62;
}

.form-container {
    background: #F3F3F3;
    display: flex;
    align-items: center;
    justify-content: center;
    
   

}

.form-container  h2{
    text-align: center;
    font-size: 25px; 
    margin-bottom: 100px;
    
    }

p
{font-size: 12px;
    }

/* .form-container .form-box{
    margin: 0px 0px 15px;
} */

.form-container .form-box input[type="text"]{
    padding: 5px 8px;
    border: 0;
    width: 303px;
    height: 37px;
    background: #ECEFEF;
    box-shadow: 0px 4px 4px rgba(68, 68, 68, 0.25);
    border-radius: 7px;
}

.form-container  .form-submit {
    display: flex;
    justify-content: center;
    width: 303px;
}

.form-container  .form-submit input[type="submit"]{
    padding: 4px 10px;
    border: none;
    background: #CA61C3;
    border-radius: 13px;
    color:#ffffff;
    font-weight: 100;
    cursor: pointer;
    font-size: 16px;
    width: 303px;
    height: 37px;

}











/* form{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
    margin: 0 auto;
}
form input{
    border: 2px solid black;
    border-radius: 13px;
    height: 67px;
    font-weight: 500;
    margin: 10px 0;
    padding: 0 10px;
    font-size: 20px;   
}

form input[type=submit]{
    width: 40%;
    margin: 0 auto;
    background-color: #CA61C3;
    color: white;
    border: none;
    font-size: 1.2rem;
}
form input[type=submit]:hover{
    cursor: pointer;
}
form p{
    font-weight: 500;
}

p.forgot{
    text-align: end;
    color: #CA61C3;
}

p a{
    color: #CA61C3;
} */
