.notification-component {
  margin-top: 20px;
}

.notification-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.notification-item {
  margin-bottom: 10px;
}

.notification-item a {
  text-decoration: none;
  color: #333;
  display: block;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.notification-item a:hover {
  background-color: #f5f5f5;
}

.notification-item h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.notification-item p {
  margin-bottom: 0;
}

/* .notification-item:not(:last-child) {
  border-bottom: 1px solid #ccc;
} */
