body{
    padding: 0;
    margin: 0;
    height: 100vh;
}

.jobapplication-main-container{
    display: flex;
    height: 85vh;
    align-items: center;
    text-align: center;
}

.jobapplication-main-container img{
    width: 100%;
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 0;
    z-index: -1;
}

.jobapplication-container{
    width: 80%;
    margin: 0 auto;
    height: 70vh;
    background-color: white;
    border-radius: 13px;
    box-shadow: -173px 314px 143px rgba(0, 0, 0, 0.01), -97px 177px 121px rgba(0, 0, 0, 0.05), -43px 79px 90px rgba(0, 0, 0, 0.09), -11px 20px 49px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    border: 1px solid #E3E3E3;
}

.jobapplication-content{
    width: 80%;
    margin: 0 auto;
    height:25%;
}

.bar{
    width: 250px;
    height: 3px;
    margin: 2%;
    background-color: #858585;
    color: #636363;
    font-weight: 500;
    
}
.active{
    background-color: #CA61C3;
    width: 250px;
    height: 3px;
    margin: 2%;
    color: #636363;
    font-weight: 500;
}

.progress-bars{
    display: flex;
    justify-content: center;
    text-align: left;
}

.progress-bars p{
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 18px;
}

.bar .title{
    margin-bottom: 0;
    color: #989898;
    font-weight: 400;
    font-size: 14px;
}

.page-display-container{
    width: inherit;
    margin: 0 auto;
    min-height: 35vh;
    margin-top: 3%;
}
.appl-button-container {
    display: flex;
    justify-content: center;
}

.appl-button-container button{
    font-size: 1.2rem;
    padding: 1.1rem 5rem;
    margin: 1rem;
    border-radius: 7rem;
    border: 1px solid #CA61C3;
    background-color: transparent;
    color: #CA61C3;
    font-weight: 700;
}

.contsub button{
    background-color: #CA61C3;
    color: white;
}

.review-container{
    height: 90vh;
}

.review-content-continer{
    border: 2px solid red;
    height: inherit;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    margin: 0 auto;
    
}
.review-application-container{
    height: 85vh;
    background-color: black;
    border-radius: 1.3rem;
    color: white;
    text-align: center;
}

.content-content{
    border: 2px solid rebeccapurple;
    display: flex;
    width:100%;
}

.all-container-review{
    width: 80%;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    margin: 0 auto;
}
.review-card{
    border: 2px solid lightsalmon;
    min-height:max-content;
    border-radius: 1rem;
    padding: 0 1.2rem;
}



.review-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.review-body{
    display: none;
    text-align: left;
}
.show .review-body{
    display: block;
}

.openbutton:hover{
    transform: rotate(180deg);
    cursor: pointer;
}