.nav {
  display: flex;
  align-items: center;
  width: 95%;
  padding: 0;
  justify-self: center;
  margin: 0 auto;
}
.nav img {
  width: 150px;
  margin-right: auto;
}
ul {
  display: inline-flex;
}
.nav li {
  padding: 0px 30px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
a {
  text-decoration: none;
  color: black;
}
.register {
  background-color: #ca61c3;
  color: white;
  padding: 10px;
  border-radius: 8px;
}
