.footer {
  background-color: white;
  padding: 10px 20px;
  
}

.footer_section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
 
}


.footer_link {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px;
  
}


.footer_link_section {
  flex: 1 1 auto;
  margin-right: 20px;
  margin-left: 5rem;
  margin-right: 5rem;
}

.footer_link_section:last-child {
  padding-right: 0;
}

.footer_link_section h4 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 8px;
}

.footer_link_section a {
  text-decoration: none;
  color: #333;
  margin-bottom: 4px;
  display: flex;
  align-items: center;
  font-size: 12px;
}

.footer_link_section a svg {
  margin-right: 5px;
}


.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
   /* Adjust the height as needed */
}

.copyright p {
  text-align: center;
}

.subcribe h4 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 2rem;
}

.subcribe p {
  margin-bottom: 8px;
  font-size: 12px;
  
}

.emailbox input[type="email"] {
  width: 180px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
  padding-right: 30px;
}

.subs {
  padding: 5px 10px;
  background-color: #fdd835;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 50%;
  margin-top: 5px;
}

@media screen and (max-width: 768px) {
  .footer_link_section {
    flex: 0 0 100%;
    padding-right: 0;
  }
}
