.footer {
   margin-bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 10px;
    height: 280px;
}

.footer_logo img {
    width: 150px;
    margin-right: 5px;
    margin-top: 80px;
    
  }


.footer_link {
display: flex;
}

.footer_link_section a{
  color: white;
  font-weight: 300;
font-size: 10px;

  
}
.footer_link_section {
  padding-left: 100px;
  margin-right: 80px;
  font-weight: 300;
font-size: 10px;
margin-top: 100px;
justify-content: left;
}

.footer_link_section  h4{
 color: rgba(255, 255, 255, 0.66);
 
} 

.footer_section{
  display: flex;
  text-align: left;
  align-items: center;
  justify-content: center;
 
}

.subcribe{
  background-color:  #FFCC33;
  border-radius: 15px;
  position:absolute;
  width: 80%;
  height: 10%;
 text-align:justify;
 margin-top: 10px;
 display: flex;

}

.subcribe p{

width: 411px;
height: 39px;
margin-left: 50px;
font-weight: 400;
font-size: 20px;
line-height: 37px;
color: #000000;

}

.emailbox input{
  box-sizing: border-box;
width: 400px;
height: 40px;
background: #FFFFFF;
font-size: 15px;
border: 0.892981px solid rgba(0, 0, 0, 0.24);
border-radius: 15px;
color: rgba(68, 68, 68, 0.2);
}


.emailbox{
  margin-top: 5px;
  
}

.subs {
  position: absolute;
width: 120px;
height: 40px;
margin-left: 1000px;
bottom: 15px;
color: #FFFFFF;
background: #000000;
border-radius: 13.3947px;
}

hr{
  border: 0.892981px solid rgba(255, 255, 255, 0.72);
  width: 90%;
} 

.copyright p{
font-weight: 300;
font-size: 10px;
}