/* .imageBox{
    background-color: rgba(255, 255, 0, 0.156);
    height: 500px;
    width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* .image-preview{
    width: 100px;
    height: 100px;
} */
