 .register2-main-container{
    height: 100vh;
  
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.right-container{
    margin: 0 auto;
    width: 50%;
    display: flex;
    padding: 4rem;
    flex-shrink: 2;
    align-items: center;
    justify-content: center;
    background: rgba(198, 198, 198, 0.13);
}

.left-container{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(198, 198, 198, 0.13);
}

.register{
    background: rgba(198, 198, 198, 0.13);
    
}


/*.left-container{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.register-text h1{
    font-size: 3rem;
    color: #CA61C3;
}

.register-text p{
    font-weight: 300;
    
}

.right-container-content{
    width: 100%;
}

.horizontal-section{
    /* display: flex; */
    /* width: 80%;
    margin: 0 auto;
    position: relative;
}


  .left-text{
    position: absolute;
    z-index: 1;
    top: 80%;
    color: white;
    font-weight: 500;
    font-size: 1.3rem;
    width: 30%;
    text-align: center;
  }
 */ 
